@import "./variable";

// css----------------------------- ////////////
.MuiTypography-h4 {
  font-weight: 600 !important;
  font-size: 2rem !important;
  line-height: 2rem !important;
  color: #001e50;
}
.MuiTypography-h3 {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 1.4rem !important;
  line-height: 1rem !important;
  color: #ffffff;
}
// css --------------------------////////////
