// css ----------------------------////////////

$primary: #015bc4;
$blackColor: #000000;
$white: #ffffff;
$rowHover: #edd6bf;
$inputLabel: #343a40;
$btnText: #464646;
$font-family: "Poppins" !important;
$card_border: "#eaeaea";
// css --------------------------------------------////////////
