.product-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.product-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-info-container {
  margin-left: 40px;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.product-price {
  font-size: 23px;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 20px;
}

.add-to-cart-button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #47a447;
  transform: scale(1.1);
}

.add-to-cart-button:focus {
  outline: none;
}

.product-details-container:hover .product-image {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.search-bar {
  width: 40vw;
  background-color: #fff;
  border-radius: 4px;
}

.search-input {
  height: 53px;
}

.listing-bx {
  width: 90%;
  margin: auto;
  padding-bottom: 3rem;
}

.product {
  position: relative;
}

.wishlist {
  position: absolute;
  top: 11px;
  right: 11px;
  display: none;
}

.product:hover .wishlist {
  display: block;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wishlist svg {
  color: #fff;
}

.footer-card {
  justify-content: space-between;
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.footer-card .css-18k87ye-MuiTypography-root {
  margin-bottom: 0 !important;
}

.product {
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  border-radius: 5px;
  cursor: pointer;
}

.product:hover .css-o69gx8-MuiCardMedia-root {
  filter: blur(8px);
  -webkit-filter: blur(1px);
}

.homeMui {
  cursor: pointer;
}

.appbarHeader {
  position: sticky;
  top: 0;
  z-index: 10;
}
.btn-grp-value {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .search-bar {
    width: 80vw;
    background-color: #fff;
  }

  .search-main-bx {
    height: 15rem;
    margin-bottom: 1rem;
  }
  .listing-bx {
    width: 95%;
    margin: auto;
    padding-bottom: 1rem;
  }
  .search-input {
    height: 45px;
  }
}
.dropdownBx {
  margin-bottom: 2rem;
  display: flex;
  justify-content: end;
  .MuiInputBase-root {
    width: 30%;
  }
}
